<%= form_for(@payment) do |f| %>
	<p>
		<%= f.label :student_id %><br />
		<%= f.collection_select :student_id, @students, :id, :full_name, :include_blank => true %>
	</p>
	<%= f.hidden_field :instructor_id, :value => (@payment.instructor_id || current_user.instructor.id) %>
	
	<p>
		<%= f.label :date %><br />
		<%= f.date_select :date %>
	</p>
	
	<p>
		<%= f.label :amount %><br />
		<%= f.text_field :amount %>
	</p>
	
	<p>
		<%= f.label :payment_type %><br />
		<%= f.text_field :payment_type %>
	</p>
	
	<p>
		<%= f.label :check_number %><br />
		<%= f.text_field :check_number %>
	</p>
	
	<p>
		<%= f.label :notes %><br />
		<%= f.text_area :notes %>
	</p>

	<%= f.submit%>
	
<% end %>